<%- include("partials/header") %>

<div class = "container-fluid">
	<div class="row" >
		<div class="col-md-6 order-sm-1" >
			<div class="text-center">
				<figure class="figure">
					<img id="product" src="<%= picture.image %>" class="figure-img img-fluid float-right shadow rounded" data-original="<%= picture.name %>" alt="<%= picture.price %>">
					<figcaption id="figCaption" class="figure-caption text-left d-none d-md-block" data-original="<%= picture._id %>"><%= picture.name %></figcaption>
				</figure>
			</div>
			<!-- visible only to admin -->
			<% if(currentUser){ %>
				<a class="btn edit-btn float-right mx-3 mb-1" href="/index/<%= picture._id %>/editevent">Edit</a>
				<form id="delete-form" action="/index/event/<%= picture._id %>?_method=DELETE" method="POST">
					<a><button class="btn edit-btn float-right mx-3 mb-1">DELETE</button></a>
				</form>
			<% } %>
			<!-- visible only to admin  -->
		</div>
		<div class="col-md-6 order-sm-2 " >
			<div class="container-fluid ">
				<h6><strong><%= picture.name %></strong></h6>
				<p class="mb-3"><%= picture.description %></p>
				<p id="picturePrice" alt="<%= picture.price %>"><strong>$<%= picture.price %></strong></p>
				<div class="py-3 mb-3">
					<h6><strong>Select Size</strong></h6>
					<button class="sizeBtn btn btn-outline-secondary m-2 selected">8x12</button>
					<button class="sizeBtn btn btn-outline-secondary m-2">10x15</button>
					<button class="sizeBtn btn btn-outline-secondary m-2">11x17</button>
					<button class="sizeBtn btn btn-outline-secondary m-2">12x18</button>
					<button class="sizeBtn btn btn-outline-secondary m-2">16x24</button>
					<button class="sizeBtn btn btn-outline-secondary m-2">20x30</button>
					<button class="sizeBtn btn btn-outline-secondary m-2">24x36</button>
				</div>
				<div class="mb-4">
					<h6 class=""><strong>Type</strong></h6>
					<p>available in Lustre paper with wooden frame</p>
				</div>
				<h6><strong>Select Border</strong></h6>
				<div class="d-inline-flex">
					<button class="borderBtn btn btn-outline-light mr-2 mb-3 selected">No Border</button>
					<button class="borderBtn btn btn-outline-light mb-3">White Border</button>
				</div>
				<hr>
			</div>
			<section id="qtySection">
				<div class="container-fluid">
					<h6><strong>&nbsp; Quantity</strong></h6>
					<div class="input-group mb-4">
						<button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" id="minusButton" class="btn btn-outline-secondary shadow-sm" type="button"><svg xmlns="	http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
							<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>
						</button>
						<input id="qty" type="number" class="quantity text-center shadow-sm" placeholder="" aria-label="" aria-describedby="" value=1 min=1>
						<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" id="plusButton" class="btn btn-outline-secondary shadow-sm" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
						</button>
					</div>
					<div class="mb-3">
						<button id="buyNowButton" class="btn btn-primary shadow purchaseBtns"><strong>BUY NOW</strong></button>
						<button id="addToCartButton" class="btn btn-secondary shadow ml-2 purchaseBtns"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 							fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
  							<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 							1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 							2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
						</svg></span><strong> ADD TO CART</strong></button>
					</div>
					
				</div>
				<div id="status"></div>
			</section>
		</div>
	</div>
</div>

<script src='/javascripts/show.js'></script>

<%- include("partials/footer") %>